a {
  font-size: 1.5em;
  color: white;
  margin: 40px;
}

a:hover {
  background-color: white;
  color: steelblue;
}

h1 {
  text-align: center;
  color: steelblue;
}

img {
  width: 80%;
  display: block;
  margin: 0 auto;
    /*The zero in margin: 0 auto, 
    refers to the top and bottom margin 
    and the auto will automatically place 
    an equal amount of space on the right 
    and left to center it.*/
  border: 4px solid steelblue;
}

main p {
  width: 80%;
  margin: 0 auto;
  /*text-align: center;*/
  }

nav, footer {
  background-color: steelblue;
  color: white;
  padding: 10px;
}

footer p {
  font-size: 20px;
  margin: 20px auto;
}

/* THIS PUT BORDERS AROUND ALL ELEMENTS
* {
    border: 2px solid blue;
}
8?

